// If the end user’s screen is smaller than 480 pixels show the smartphone layout
// If the screen is larger than 480 pixels but smaller than 1024 pixels show the tablet layout
// If the screen is larger than 1024 show the regular desktop layout
@import "~src/scss/_colors";
@import "~src/scss/_utilitty";

mat-toolbar {
  position: fixed;
  z-index: 2;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__logo {
  margin: 0 10px;
  content: url("../../icons/logo3.png");
  height: 40px;

}

.header__logo-name {
  margin: 0 5px;
  h1 {
    color: $main-white;
  }

}

mat-icon {
  height: auto;
  width: auto;
  color: $main-white;
  font-size: 40px;
  

}

ul {
  list-style: none;

  @media only screen and (max-width: 1024px) {
    display: none;
  }

  li {
    display: inline-block;
  }
}

.nav__button {
  background: $header-color;
  color: $main-white;

}

.login {
  height: 300px;
}
