<mat-toolbar>
  <mat-toolbar-row >
    <div class="toolbar-address">
      <p>{{barValue}}</p>
    </div>
    <div class="toolbar-dropdown">
      <p>Adresa:</p> 
      <mat-form-field>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
     
    </div>
    <mat-icon> message </mat-icon >
  </mat-toolbar-row>
</mat-toolbar>
