$header-color: #08415C;//#274156;//#349FD0;//#834576;
$main-white: #ffffff;
$utillity-color:#1C6E8C;//#6ba0cb;
$app-theme-primery-color: (
    50 : #e1e8eb,
    100 : #b5c6ce,
    200 : #84a0ae,
    300 : #527a8d,
    400 : #2d5e74,
    500 : #08415c,
    600 : #073b54,
    700 : #06324a,
    800 : #042a41,
    900 : #021c30,
    A100 : #69b1ff,
    A200 : #3697ff,
    A400 : #037dff,
    A700 : #0071e8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$app-theme-accent-color: (
    50 : #e4eef1,
    100 : #bbd4dd,
    200 : #8eb7c6,
    300 : #609aaf,
    400 : #3e849d,
    500 : #1c6e8c,
    600 : #196684,
    700 : #145b79,
    800 : #11516f,
    900 : #093f5c,
    A100 : #90d3ff,
    A200 : #5dbeff,
    A400 : #2aaaff,
    A700 : #10a0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
